@font-face {
	font-family: 'Pretendard';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

.footer-container {
	display: flex;
	flex-direction: row;

	padding-bottom: 64px;

	border-bottom: 1px solid black;
}

.left-container {
	width: 530px;
}

.footer-address {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 18px;
	font-weight: 400;
	line-height: 170%;
	letter-spacing: 0%;
	text-align: left;

	margin: 32px 0px 102px 0px;
}

.vl-footer {
	width: 1px;
	/* border/default */
	background: rgb(25, 25, 25);
}

.sns-items {
	display: flex;
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: 13px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	gap: 16px;
}

/* ----right-container----- */

.right-container {
	display: flex;
	gap: 48px;
	margin-left: 48px;
}

.footer-items {
	display: flex;
	flex-direction: column;
	width: 354px;
	gap: 32px;
}

.footer-items li {
	/* text/meta */
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: 15px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.5px;
	text-align: left;
	text-transform: uppercase;
}

.footer-items .list-title {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0px;
	text-align: left;
}

.footer-items .black-button {
	margin: 0px;
}

.copyright {
	margin: 48px 0px 16px 0px;
	display: flex;
	justify-content: space-between;

	/* text/meta */
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: 15px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.5px;
	text-align: left;
	text-transform: uppercase;
}
