/* ----- our-values ----- */
.section-title {
	padding: 0rem 0rem 3rem 0rem;
	margin-bottom: 4rem;
	border-bottom: .0625rem solid black;
}

.section-title h1 {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 5rem;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: 0rem;
	text-align: center;
	text-transform: uppercase;
}

.section-contents {
	display: flex;
	border-bottom: .0625rem solid black;
	padding-bottom: 4rem;
	margin-bottom: 4rem;
}

.section-contents img {
	/* Image Wrapper */
	width: 52.7188rem;
	height: 40.3125rem;

	border-radius: 1rem;
}

.section-contents .vl {
	margin-bottom: 0rem;
}

.values-item {
	display: flex;
	border-bottom: .0625rem solid black;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
}

.values-item .option {
	margin-right: 3rem;
}

.ourvalues-title {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 2rem;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0rem;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.ourvalues-text {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 170%;
	letter-spacing: 0%;
	text-align: left;
	width: 47.5938rem;
}

.last {
	border-bottom: none;
	margin-bottom: 0rem;
	padding-bottom: 0rem;
}

/* ---- contact ----- */

.contact {
	justify-content: space-between;
}

.contact .title-container {
	width: auto;
}
.contact .title-container .title-text {
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 6rem;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: 0rem;
	text-align: left;
	text-transform: uppercase;
}
