@font-face {
	font-family: 'Pretendard';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
	box-sizing: border-box;
}


html {
	font-size: 12px;
}

body {
	background-color: rgb(253, 251, 245);
}

.page-wrapper{
	padding: 3rem;
	width: max-content;
	font-family: Roboto Mono;
	border: .0625rem solid black;
	margin: 1.25rem;
}

.button {
	color: white;
	background-color: black;
	border-radius: .375rem;
	font-size: .9375rem;
	padding: .625rem 1rem .625rem 1rem;
	width: 8.25rem;
	height: 2.1875rem;
}

.line{
	background-color: black;
	height: .0625rem;
	width: 100%;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2rem;
	border-bottom: solid .0625rem;
	height: 3.125rem;
	/* width: 100%; */
}
.logo {
	width: 8.6656rem;
	height: 3.125rem;
}
.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 57.75rem;
	height: 2.5rem;
	color: black;
	font-size: .9375rem;
	gap: 2rem;
}

/* .nav-items .li{
	margin-right: 2rem;
} */

.option {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8125rem;
	border: .0625rem solid black;
	border-radius: 31.25rem;
	height: 2.125rem;
	width: 2.125rem;
	font-family: Roboto Mono;
}

.box-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 19.1875rem;
	height: 2.5rem;
}

/*main 시작*/
/*introduction section 시작*/

.left-container{
	position: static;
	display: flex;
	flex-direction: column;
	width: 53.75rem;
	height: 43.75rem;
}

.right-container{
	position: static;
	display: flex;
	flex-direction: column;
	width: 53.75rem;
	height: 43.75rem;
	}
	
.intro{
	font-family: Pretendard;
	font-size: 6rem;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: 0rem;
	text-align: left;
}

.content{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
	margin-top: 1rem
}

.vector{
	width:3.8312rem;
	height:5rem; 
	margin-top: 10rem;
}

.header_image{
    border-radius: 1rem;
    object-fit: cover;
    height: 43.75rem;
}

.introduction{
	display: flex;
	justify-content: space-between;
	padding-top:4rem;
	padding-bottom:4rem;
	border-bottom: solid .0625rem;
}

/*mid 시작*/

.mid{
	display: flex;
	padding-top:4.0625rem;
	padding-bottom:4.0625rem;
	border-bottom: solid .0625rem;
	width: 100%;
}

.clients-list{
/* text/meta */
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: .0313rem;
	text-align: left;
	text-transform: uppercase;
	padding-right:4rem;
	padding-top:2rem;
	padding-bottom:2rem;
}

.Our-Clients{
	display: inline-flex;
	width: 100%;
}
.logo{
	/* position: static; */
	width: 5.625rem;
	height: 5rem;

}

.logos{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* 마지막 부분 */

.subject_img{
	width: 5rem;
	height:5rem;
}

.final{
	display: flex;
	padding-top:4.0625rem;
	padding-bottom:4.0625rem;
	border-bottom: solid .0625rem;
	width: 100%;
}

.title{
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: .0313rem;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 19.5rem;
	padding-right: 30.1875rem;
	border-right: solid .0625rem;
}

.grid{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 72.3125rem;
	height: 20.4375rem;
	margin-left: 3rem;
}

.subject{
	box-sizing: content-box;
    display: flex;
    gap: 2rem;
    width: 33.125rem;
    padding-right: 3rem;
}


.explanation{
	display: flex;
	flex-direction: column;
}

.subject_name{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 2rem;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0rem;
	text-align: left;
	text-transform: uppercase;
}

.content{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 170%;
	letter-spacing: 0%;
	text-align: left;
}

.segment{
	display: flex;
}

.border_right{
	border-right: .0625rem solid black;
	margin-right: 3rem;
}

