@font-face {
	font-family: 'Pretendard';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
	box-sizing: border-box;
}


html {
	font-size: .75rem;
}

body {
	background-color: rgb(253, 251, 245);
}

.page-wrapper{
	padding: 48px;
	width: max-content;
	font-family: Roboto Mono;
	border: 1px solid black;
	margin: 20px;
}

.button {
	color: white;
	background-color: black;
	border-radius: 6px;
	font-size: 15px;
	padding: 10px 16px 10px 16px;
	width: 132px;
	height: 35px;
}

.line{
	background-color: black;
	height: 1px;
	width: 100%;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 32px;
	border-bottom: solid 1px;
	height: 50px;
	/* width: 100%; */
}
.logo {
	width: 138.6496px;
	height: 50px;
}
.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 924px;
	height: 40px;
	color: black;
	font-size: 15px;
	gap: 32px;
}

/* .nav-items .li{
	margin-right: 32px;
} */

.option {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	border: 1px solid black;
	border-radius: 500px;
	height: 34px;
	width: 34px;
	font-family: Roboto Mono;
}

.box-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 307px;
	height: 40px;
}

/*main 시작*/
/*introduction section 시작*/

.left-container{
	position: static;
	display: flex;
	flex-direction: column;
	width: 860px;
	height: 700px;
}

.right-container{
	position: static;
	display: flex;
	flex-direction: column;
	width: 860px;
	height: 700px;
	}
	
.intro{
	font-family: Pretendard;
	font-size: 96px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: 0px;
	text-align: left;
}

.content{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 28px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
	margin-top: 16px
}

.vector{
	width:61.2992px;
	height:80px; 
	margin-top: 160px;
}

.header_image{
    border-radius: 16px;
    object-fit: cover;
    height: 700px;
}

.introduction{
	display: flex;
	justify-content: space-between;
	padding-top:64px;
	padding-bottom:64px;
	border-bottom: solid 1px;
}

/*mid 시작*/

.mid{
	display: flex;
	padding-top:65px;
	padding-bottom:65px;
	border-bottom: solid 1px;
	width: 100%;
}

.clients-list{
/* text/meta */
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: 15px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: .5008px;
	text-align: left;
	text-transform: uppercase;
	padding-right:64px;
	padding-top:32px;
	padding-bottom:32px;
}

.Our-Clients{
	display: inline-flex;
	width: 100%;
}
.logo{
	/* position: static; */
	width: 90px;
	height: 80px;

}

.logos{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* 마지막 부분 */

.subject_img{
	width: 80px;
	height:80px;
}

.final{
	display: flex;
	padding-top:65px;
	padding-bottom:65px;
	border-bottom: solid 1px;
	width: 100%;
}

.title{
	color: rgb(25, 25, 25);
	font-family: Roboto Mono;
	font-size: 15px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: .5008px;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 312px;
	padding-right: 483px;
	border-right: solid 1px;
}

.grid{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 1157px;
	height: 327px;
	margin-left: 48px;
}

.subject{
	box-sizing: content-box;
    display: flex;
    gap: 32px;
    width: 530px;
    padding-right: 48px;
}


.explanation{
	display: flex;
	flex-direction: column;
}

.subject_name{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 32px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}

.content{
	color: rgb(25, 25, 25);
	font-family: Pretendard;
	font-size: 20px;
	font-weight: 400;
	line-height: 170%;
	letter-spacing: 0%;
	text-align: left;
}

.segment{
	display: flex;
}

.border_right{
	border-right: 1px solid black;
	margin-right: 48px;
}
